@import '../../design-tokens/variables.scss';

.container {
  padding: {
    left: $medium-space;
    right: $medium-space * 2;
  }

  .title {
    font-weight: 700;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: $small-space;
  }
}
