$primary-color-dark: #262626;
$primary-color-red: #fd3a6c;
$primary-color-light: #fff;
$secondary-color-light: #b5b5b5;
$secondary-color-dark: #797979;

$border-color: #dadada;

$small-space: 0.8rem;
$medium-space: $small-space * 2;
$large-space: $small-space * 7.5;

$transition-time: 0.1s;
